{% extends 'base.html' %}
{% block content %}
<h1><strong>Title:</strong> {{ book.title }}</h1>
<p><strong>Author:</strong> {{ book.author }}</p>
<p><strong>Publication Year:</strong> {{ book.year }}</p>
<p><strong>ISBN:</strong> {{ book.isbn }}</p>
<p><strong>Google Books Average Rating:</strong> {{ book.average_rating }}</p>
<p><strong>Google Books Number of Ratings:</strong> {{ book.ratingsCount }}</p>
<h2>Reviews From Database</h2>
<table class="review-table">
    <thead>
        <tr>
            <th>Rating</th>
            <th>Review Content</th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.rating }}</td>
                <td>{{ review.content }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No reviews found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Add Your Review</h2>
<form action="{{ url_for('book_detail.add_review', isbn=book.isbn) }}" method="POST">
    {{ review_form.csrf_token }}
    {{ review_form.content.label }} {{ review_form.content(rows=2) }}<br>
    {{ review_form.rating.label }} {{ review_form.rating }}<br>
    <input type="submit" value="Submit Review">
</form>
{% endblock %}
