{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
    <h1>Search for a Book</h1>
    <form action="{{ url_for('search') }}" method="post">
        {{ form.csrf_token }}
        {{ form.search.label }} {{ form.search(class_='form-control') }}<br>
        <input type="submit" value="Search">
    </form>
    {% if books %}
        <ul>
            {% for book in books %}
                <li><a href="{{ url_for('book_page', isbn=book.isbn) }}">{{ book.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books found.</p>
    {% endif %}
{% endblock %}